@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-moderate-orange: #D87D4A;
  --color-soft-orange: #fbaf85;
  --color-very-dark-gray: #101010;
  --color-very-light-gray: #F1F1F1;
  --color-light-gray: #CFCFCF;
  --color-mostly-white: #FAFAFA;

  
  --leading-h1: 58px;
  --tracking-h1: 2px;

  --leading-h2: 44px;
  --tracking-h2: 1.5px;

  --tracking-bringing: 1.43px;

  --leading-h3: 36px;
  --tracking-h3: 1.15px;

  --leading-h4: 38px;
  --tracking-h4: 2px;

  --leading-h5: 33px;
  --tracking-h5: 1.7px;

  --leading-h6: 24px;
  --tracking-h6: 1.3px;

  --tracking-price: 1.29px;

  --leading-body: 25px;

  --leading-lorem: 19px;
  --tracking-lorem: 10px;

  --leading-subtitle: 25px;
  --tracking-subtitle: 1px;


  --font-manrope: "Manrope", sans-serif;

  --container-desktop: 1440px;
  --container-tablet: 768px;
  --container-mobile: 375px;

  --breakpoint-ds: 1440px;

  --tracking-label: -0.21px;

  --animate-show-modal: show-modal 1s linear forwards;
  @keyframes show-modal {
    to {
      transform: translateY(100px);
    }
  }

}

@layer components {

  .selected:has(input[type='radio']:checked) {
    border: 1px solid var(--color-moderate-orange) !important;

  }

  label {
    @apply text-[12px] leading-none tracking-label text-black font-bold block mb-3;
  }
  input {
    @apply block rounded-lg border-light-gray border w-full p-4 focus:outline-0 font-bold text-[14px] tracking-label placeholder-very-light-gray;
  }

  .mark:hover .shop {
    color: #D87D4A !important;
  }

  .icon:hover path {
    fill: var(--color-moderate-orange);
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  .h1 {
    @apply text-[56px] leading-h1 tracking-h1;
  }
  .h2 {
    @apply text-[40px] leading-h2 tracking-h2  md:text-[56px] md:leading-h1 md:tracking-h1;
  }
  .h3 {
    @apply text-[32px] leading-h3 tracking-h3;
  }
  .h4 {
    @apply text-[28px] leading-h4 tracking-h4 md:text-[40px] md:leading-h2 md:tracking-bringing;
  }
  .h5 {
    @apply text-[24px] leading-h5 tracking-h5;
  }
  .h6 {
    @apply text-base leading-h6 tracking-h6;
  }

  .price {
    @apply text-[18px] tracking-price font-bold;
  }

  .p {
    @apply text-[15px] leading-body font-medium;
  }

  .lorem {
     @apply text-[14px] leading-lorem tracking-lorem text-soft-orange uppercase font-normal; 
  }

  .subtitle {
    @apply text-[13px] leading-subtitle tracking-subtitle text-moderate-orange uppercase font-bold;
  }
}


body {
  font-family: "Manrope", sans-serif;
}
